
body{
	background-image:url("https://sopranoclub.ru/images/90-svetlyh-fonov-dlya-oboev-fotoshopa-i-t-p/file62845.jpeg") ;
}
h1{
text-align: center;
	  font-size: 70px;
  font-weight: 600;
  color:blue;
  text-shadow: 0px 0px 5px darkred 0px 0px 10px red, 0px 0px 10px blue,
    0px 0px 20px skyblue;
}

.container { margin: 20px 100px;
font-family:monospace;
}

.table {
	width: 100%;
	margin: 20px 50 px 70px;
	border: 1px solid #dddddd;
	margin-bottom: 87px;
}
.table th {
	font-size: xx-large;
	font-weight: bold;
	padding: 15px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	font-size: x-large;
	border: 1px solid #dddddd;
	padding: 10px;
}
[align="center"]{
	color:black;
	font-size: xx-large;
}
	
.markers {
	font-family: monospace;
	font-size: x-large;
	margin: 0 0 20px 14px;
	padding:50;
}
.marker {
	font-family: monospace;
	font-size: xx-large;
	margin: 0 0 20px 14px;
	padding:50;
	font-weight: bold;
	color: blue;
}
button {
	background-color: whitesmoke;
	color: blue;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 20px;
	border-radius:20px;
	cursor: pointer;
	box-shadow: 0px 5px 10px grey;

	
}
h1{
	text-align: center;
}
.ex5 h1:before {
content: "";
position: absolute;
border: 10px solid transparent;
border-left: 10px solid rgb(81, 227, 213);
top: 23%;
margin: 0 auto;
left: 15%;
}

.ex5 h1:after {
content: "";
position: absolute;
border: 10px solid transparent;
border-right: 10px solid rgb(81, 227, 213);
top: 23%;
margin: 0 auto;
right: 15%;
}